$font-default: "Inter";
$font-heading: "Poppins";

$default-50: #C2C9DB;
$default-100: #B5BED4;
$default-200: #9BA7C4;
$default-300: #8291B5;
$default-900: #191D2A;
$default-text: #fafaff;

$text-small: 12px;
$text-medium: 16px;

$default-border: rgba( $default-50, 0.1 );

$rounding-small: 4px;
$rounding-large: 8px;

$easing: ease;
