	.cursor {
	position: absolute;
	width: 32px;
	height: 32px;
	background-image: url("resource/ui/player/interact/cursor_legacy.png");
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 999999;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s ease-out;

	&.visible {
		opacity: 1;
		transition: opacity 0.25s ease-in;
	}
	
}