//                                          ░░░░░░░░                                  
//                                         ░░░░░░░░░░░                                
//                         ░░░░             █████░░░░░░░                              
//                        ░░░██             ░░░░░░░░░░░█                              
//           ░░░░░░░░░░░░ ░░░░░░░░░░░░░  ░░░░░░░░░░░░░▒█ ░░░░░░░░░░░░░  ░░░░░░░░░░░░░█
//         ░░░░░░░░░░░░░█░░░░░░░░░░░░░░█░░░░░███ ░░░░░█░░░░███████░░░░█░░░███████████ 
//        ░░░▓          ░░░█       ░░░█░░░░░█    ░░░░██░░░█       ░░░█ ░░░░░░░░░░░░   
//       ░░░░█         ░░░░█      ░░░░█░░░░█    ░░░░░░░▓░█       ░░░█  █████████░░░█  
//     ░░░░░▓░░░░░█░░░░░░░█       ░░░█░░░░██   ░░░░░░░░░█░░░░░░░░░░██░░░░░░░░░░░░░█   
//  ░░░░░█░░░░░░░█░░░█░░░█       ░░░█░░░░██    ░░░░▒███░░░░░░░░░░██░░░░░░░░░░░░░██ ░░░
// ░░░░░░░░░█░░░░░░░░░░░░░░▒ ░░░░░░░░░░░░░█ ░░░░░░░░░░░░░░  ░░░░░░░░░░█░░░█      ░░░░█
// ██░░░████ ░░█████████░░░█░░░████████░░░█░░░█████████░░██░░░████████ ░░░░    ░░░░██ 
//  ░░░█    ░░░█       ░░░█ ░░░░░░░░░░░░░█░░░█        ░░░█░░░██        ░░░░█  ░░░██   
// ░░░█    ░░░█       ░░░██░░░███████████░░░░█       ░░░█ ░░░█         █░░░▓░░░██     
// ░░░░░░█░░░█        ░░░█░░░░░░░░░░░░░█ ░░░░░░░░░░░░░░█ ░░░█           ░░░░░▓██      
// ███████████       ████  █████████████ ██████████████ ████            █░░░██        
//                                                                   ░░░░░██          
//                                                                  ░░▒███            

//  ChaosHUD.razor.scss
//  ──────────────────────────────────────────────────────────────────────────────
//  This file defines the main styling for the ChaosHUD component.
//  Styling is organized in stages for clarity and maintainability.


//  Stage 1: Import the BaseTheme of the UI:
//  -──────────────────────────────────────────────────────────────────────────────
//  Place any global variables, or utility inside this one
//  to ensure they are available throughout the rest chain.
//

@import "/ui/SDK/HUD/ChaosHUDTheme.scss"; 

//  Stage 2: Import all of the UI styling itself at this stage

@import "/ui/SDK/HUD/Styles/Shared/ChaosPlayer.scss";

//  Stage 3: Global canvas adjustments

ChaosHUD {
	
	padding: $canvas-area-x $canvas-area-y;

	.Left {
		width: 100vw;
	}
	.Right {
		width: 100vw;		
	}
}
