standaloneversion 
{
	position: absolute;
    top: 0%;
    left: 0;
    right: 0%;
    bottom: 0;
	font-size: 11%;
    color: white;
    font-family: 'Courier New';
	filter-drop-shadow: 1px 1px 0px 0px black, -1px -1px 0px 0px black,
		1px -1px 0px 0px black, -1px 1px 0px 0px black, -1px 0px 0px 0px black,
		1px 0px 0px 0px black, 0px -1px 0px 0px black, 0px 1px 0px 0px black;
	font-smooth: never;
}

.DevDate
{
    padding-top: 0.5%;
    padding-right: 0.5%;
    padding-left: 0.5%;
}

// i tried centering it but i cant so these are separate, maybe still do them under one div idk
.DevVersion
{
    padding-top: 0.5%;
    padding-right: 0.5%;
    padding-left: 0.5%;
}
