{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "movecollider": "Ignore",
    "held_prop": "Collide",
    "player": "Collide",
    "movement": "Collide",
    "npc": "Collide",
    "pickuptrigger": "Trigger",
    "grenade": "Collide",
    "solid_playerpass": "Collide",
    "debris": "Collide"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "movement",
      "b": "movement",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "pickuptrigger",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "grenade",
      "r": "Ignore"
    },   
    {
      "a": "movement",
      "b": "grenade",
      "r": "Ignore"
    },
    {
      "a": "pickuptrigger",
      "b": "grenade",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "solid_playerpass",
      "r": "Ignore"
    },
    {
      "a": "movement",
      "b": "solid_playerpass",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "debris",
      "r": "Ignore"
    },
    {
      "a": "movement",
      "b": "debris",
      "r": "Ignore"
    },
    {
      "a": "held_prop",
      "b": "player",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "debris",
      "r": "Ignore"
    },
    {
      "a": "water",
      "b": "debris",
      "r": "Ignore"
    },
    {
      "a": "movecollider",
      "b": "debris",
      "r": "Ignore"
    },
    {
      "a": "movecollider",
      "b": "item",
      "r": "Ignore"
    }, 
    {
      "a": "movement",
      "b": "item",
      "r": "Ignore"
    },
    {
      "a": "playertrig",
      "b": "item",
      "r": "Ignore"
    },           
    {
      "a": "pickuptrigger",
      "b": "debris",
      "r": "Ignore"
    },
    {
      "a": "pickuptrigger",
      "b": "solid_playerpass",
      "r": "Ignore"
    }
  ],
  "__guid": "f6c0161b-4a8d-45a4-819d-47965a84a3b1",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}