{
  "Actions": [
    {
      "Name": "Forward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "W",
      "GamepadCode": "None"
    },
    {
      "Name": "Backward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "S",
      "GamepadCode": "None"
    },
    {
      "Name": "Left",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "A",
      "GamepadCode": "None"
    },
    {
      "Name": "Right",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "D",
      "GamepadCode": "None"
    },
    {
      "Name": "Jump",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "space",
      "GamepadCode": "A"
    },
    {
      "Name": "Run",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "shift",
      "GamepadCode": "LeftJoystickButton"
    },
    {
      "Name": "Walk",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "alt",
      "GamepadCode": "None"
    },
    {
      "Name": "Duck",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "CTRL",
      "GamepadCode": "B"
    },
    {
      "Name": "attack1",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger"
    },
    {
      "Name": "attack2",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger"
    },
    {
      "Name": "reload",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "r",
      "GamepadCode": "X"
    },
    {
      "Name": "use",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "e",
      "GamepadCode": "Y"
    },
    {
      "Name": "Slot1",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "1",
      "GamepadCode": "DpadWest"
    },
    {
      "Name": "Slot2",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "2",
      "GamepadCode": "DpadEast"
    },
    {
      "Name": "Slot3",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "3",
      "GamepadCode": "DpadSouth"
    },
    {
      "Name": "Slot4",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "4",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot5",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "5",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot6",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "6",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot7",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "7",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot8",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "8",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot9",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "9",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot0",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "0",
      "GamepadCode": "None"
    },
    {
      "Name": "SlotPrev",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "mouse4",
      "GamepadCode": "SwitchLeftBumper"
    },
    {
      "Name": "SlotNext",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "mouse5",
      "GamepadCode": "SwitchRightBumper"
    },
    {
      "Name": "nightvis",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "f",
      "GamepadCode": "DpadNorth"
    },
    {
      "Name": "zoom",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "Z",
      "GamepadCode": "None"
    },
    {
      "Name": "holster",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "MOUSE4",
      "GamepadCode": "None"
    },
    {
      "Name": "Debug_PauseOpen",
      "GroupName": "Debug",
      "Title": null,
      "KeyboardCode": "TAB",
      "GamepadCode": "None"
    },
    {
      "Name": "Debug_Add",
      "GroupName": "Debug",
      "Title": null,
      "KeyboardCode": "END",
      "GamepadCode": "None"
    },
    {
      "Name": "Console_Toggle",
      "GroupName": "Debug",
      "Title": "Toggle XGUI console  in-game",
      "KeyboardCode": "HOME",
      "GamepadCode": "None"
    },
    {
      "Name": "MasterDebug_Toggle",
      "GroupName": "Debug",
      "Title": "Toggle XGUI Master debug in-game",
      "KeyboardCode": "END",
      "GamepadCode": "None"
    },
    {
      "Name": "chat",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "Y",
      "GamepadCode": "None"
    },
    {
      "Name": "voice",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "K",
      "GamepadCode": "None"
    }
  ],
  "__guid": "3d8021d2-c4fb-4d3d-bbfb-278439216d13",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}