{
  "Actions": [
    {
      "Name": "Forward",
      "GroupName": "Movement",
      "Title": "",
      "KeyboardCode": "W",
      "GamepadCode": "None"
    },
    {
      "Name": "Backward",
      "GroupName": "Movement",
      "Title": "",
      "KeyboardCode": "S",
      "GamepadCode": "None"
    },
    {
      "Name": "Left",
      "GroupName": "Movement",
      "Title": "",
      "KeyboardCode": "A",
      "GamepadCode": "None"
    },
    {
      "Name": "Right",
      "GroupName": "Movement",
      "Title": "",
      "KeyboardCode": "D",
      "GamepadCode": "None"
    },
    {
      "Name": "Jump",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "space",
      "GamepadCode": "A"
    },
    {
      "Name": "Run",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "shift",
      "GamepadCode": "LeftJoystickButton"
    },
    {
      "Name": "Walk",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "alt",
      "GamepadCode": "None"
    },
    {
      "Name": "Duck",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "CTRL",
      "GamepadCode": "B"
    },
    {
      "Name": "attack1",
      "GroupName": "Actions",
      "Title": "Primary Attack",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger"
    },
    {
      "Name": "attack2",
      "GroupName": "Actions",
      "Title": "Secondary Attack",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger"
    },
    {
      "Name": "reload",
      "GroupName": "Actions",
      "Title": "Reload",
      "KeyboardCode": "r",
      "GamepadCode": "X"
    },
    {
      "Name": "use",
      "GroupName": "Actions",
      "Title": "Use",
      "KeyboardCode": "e",
      "GamepadCode": "Y"
    },
    {
      "Name": "Slot1",
      "GroupName": "Inventory",
      "Title": "Weapon Slot 1",
      "KeyboardCode": "1",
      "GamepadCode": "DpadWest"
    },
    {
      "Name": "Slot2",
      "GroupName": "Inventory",
      "Title": "Weapon Slot 2",
      "KeyboardCode": "2",
      "GamepadCode": "DpadEast"
    },
    {
      "Name": "Slot3",
      "GroupName": "Inventory",
      "Title": "Weapon Slot 3",
      "KeyboardCode": "3",
      "GamepadCode": "DpadSouth"
    },
    {
      "Name": "Slot4",
      "GroupName": "Inventory",
      "Title": "Weapon Slot 4",
      "KeyboardCode": "4",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot5",
      "GroupName": "Inventory",
      "Title": "Weapon Slot 5",
      "KeyboardCode": "5",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot6",
      "GroupName": "Inventory",
      "Title": "Weapon Slot 6",
      "KeyboardCode": "6",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot7",
      "GroupName": "Inventory",
      "Title": "Weapon Slot 7",
      "KeyboardCode": "7",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot8",
      "GroupName": "Inventory",
      "Title": "Weapon Slot 8",
      "KeyboardCode": "8",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot9",
      "GroupName": "Inventory",
      "Title": "Weapon Slot 9",
      "KeyboardCode": "9",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot0",
      "GroupName": "Inventory",
      "Title": "Weapon Slot 10",
      "KeyboardCode": "0",
      "GamepadCode": "None"
    },
    {
      "Name": "SlotPrev",
      "GroupName": "Inventory",
      "Title": "Previous Slot",
      "KeyboardCode": "mouse4",
      "GamepadCode": "None"
    },
    {
      "Name": "SlotNext",
      "GroupName": "Inventory",
      "Title": "Next Slot",
      "KeyboardCode": "mouse5",
      "GamepadCode": "None"
    },
    {
      "Name": "nightvis",
      "GroupName": "Actions",
      "Title": "Nighvision",
      "KeyboardCode": "f",
      "GamepadCode": "DpadNorth"
    },
    {
      "Name": "zoom",
      "GroupName": "Actions",
      "Title": "Suit Zoom",
      "KeyboardCode": "Z",
      "GamepadCode": "None"
    },
    {
      "Name": "Debug_PauseOpen",
      "GroupName": "Debug",
      "Title": null,
      "KeyboardCode": "TAB",
      "GamepadCode": "None"
    },
    {
      "Name": "InvMod",
      "GroupName": "Inventory",
      "Title": "Item Inventory",
      "KeyboardCode": "ALT",
      "GamepadCode": "SwitchLeftBumper"
    },
    {
      "Name": "Quick_Save",
      "GroupName": "Miscellaneous",
      "Title": "Quick Save",
      "KeyboardCode": "F6",
      "GamepadCode": "None"
    },
    {
      "Name": "Quick_Load",
      "GroupName": "Miscellaneous",
      "Title": "Quick Load",
      "KeyboardCode": "F7",
      "GamepadCode": "None"
    },
    {
      "Name": "UseItem",
      "GroupName": "Actions",
      "Title": "Use Item",
      "KeyboardCode": "G",
      "GamepadCode": "SwitchRightBumper"
    },
    {
      "Name": "Pause",
      "GroupName": "Miscellaneous",
      "Title": "Pause",
      "KeyboardCode": "P",
      "GamepadCode": "None"
    },
    {
      "Name": "chat",
      "GroupName": "Miscellaneous",
      "Title": "Chat",
      "KeyboardCode": "T",
      "GamepadCode": "None"
    },
    {
      "Name": "View",
      "GroupName": "Miscellaneous",
      "Title": null,
      "KeyboardCode": "N",
      "GamepadCode": "None"
    }
  ],
  "__guid": "3d8021d2-c4fb-4d3d-bbfb-278439216d13",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}