{
  "Version": 2,
  "Mixers": {
    "Guid": "5f084183-420f-4766-af23-6da4b943ee8b",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Spacializing": 1,
    "MaxVoices": 64,
    "DistanceAttenuation": 1,
    "Occlusion": 1,
    "AirAbsorption": 1,
    "OverrideOcclusion": false,
    "OcclusionTags": null,
    "Processors": [
      {
        "Effect": "tunnel.medium",
        "Enabled": true,
        "Mix": 0.6518771,
        "__type": "DspProcessor"
      }
    ],
    "Children": [
      {
        "Guid": "c3d1d3ba-fdcd-4b17-8f9c-9769b1d4a4d8",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "9142a8fd-a688-4d90-9ab9-c5fdc830e779",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "MaxVoices": 64,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "7ec3da66-bba8-47bb-88ea-a79f90af1fed",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "ada45339-8476-4df4-9058-832a769b81de",
        "Name": "Speech",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "MaxVoices": 64,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "017a1746-ebbc-45c0-b114-08a57e411b91",
        "Name": "Voice Chat",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "MaxVoices": 16,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "bf9478ae-616c-4408-a1ab-65a7144d3932",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}