ChaosChatOverlay
{
	position: absolute;
	left: 50px;
	bottom: 96px;
	flex-direction: column;
	align-items: flex-start;
	pointer-events: none;
	z-index: 1000;

	&.in-game
	{
		left: 1.5vw;
		bottom: 10vh;
	}

	&.open
	{
		pointer-events: all;
	}

	ChaosVirtualChatPanel
	{
		flex-shrink: 0;
	}
}
