// ==============================
// All of the ChaosHUD Colors
// ==============================


// Reactive (Lerp stages)
$color-healthy:  #C9FF00;
$color-critical: #FF0000;

// Utility/neutral
$chaos-green: #C9FF00;
$chaos-grey:  #ffffffb2;
$chaos-darkgrey:  #ffffff48;

// Background colors
$chaos-greenbg: #4e6e28;
$chaos-greenbg-transparent: #4e6e286c;
$chaos-redbg:   #6e0e28;

// Shadow colors
$chaos-darkshadow: #202020;
$chaos-bgshadow: #69696956;
$chaos-bgshadow-alt: #57575757;