// ==============================
// HUD Related Effects/Overlays/etc
// ==============================

//  ========== Glows & Shadows ========== //


$glow-healthy: 
    0 0 10vh  $chaos-greenbg,
    0 0 2.5vh $chaos-greenbg;

$glow-critical: 
    0 0 10vh  $chaos-redbg,
    0 0 2.5vh $chaos-redbg;

// Deep background glow effects
$shadow-healthy: 
    0 0 0.1vh $chaos-greenbg,
    0 0 2vh   $chaos-greenbg,
    0 0 4.5vh $chaos-greenbg,
    0 0 6vh   $chaos-greenbg,
    0 0 8vh   $chaos-greenbg;

$shadow-critical: 
    0 0 0.1vh $chaos-redbg,
    0 0 2vh   $chaos-redbg,
    0 0 4.5vh $chaos-redbg,
    0 0 6vh   $chaos-redbg,
    0 0 8vh   $chaos-redbg;

$shadow-empty: 
    0 0 2vh $chaos-darkshadow;

$shadow-under: 
    0 0 25vh $chaos-bgshadow;

$shadow-under-alt: 
    0 0 2vh  $chaos-bgshadow-alt,
    0 0 25vh $chaos-darkshadow;

$effect-healthy: 
    $glow-healthy,
    $shadow-healthy;

$effect-critical: 
    $glow-critical,
    $shadow-critical;
    
//  ========== Icon Filters ========== //


$icon-healthy: tint($color-healthy)
    drop-shadow(0 0 10px $chaos-greenbg);

$icon-critical: tint($color-critical)
    drop-shadow(0 0 15px $chaos-redbg);

$icon-empty: tint($chaos-grey)
    drop-shadow($shadow-under);


//  ========== FX Transition and Animation Templates  ========== //


$transition-quick:   all 0.12s ease;
$transition-quicker: all .05s ease-in;

$transition-soft:   all 1s cubic-bezier(0.175, 0.885, 0.52, 1.275);
$transition-softer: all 1.5s cubic-bezier(0.175, 0.885, 0.52, 1.275);

$transition-critical: all 0.5s;
$transition-healthy:  all 0.25s;

@keyframes health-beat 
{
  0%   { transform: translate(0 7.5vh) scale(1); }
  50%  { transform: translate(0 7.5vh)scale(1.075); }
  60%  { transform: translate(0 7.5vh) scale(1); }
  70%  { transform: translate(0 7.5vh) scale(1.025); }
  100% { transform: translate(0 7.5vh) scale(1); }
}

@keyframes weapon-selected 
{
  
0%   { 

    transform: scale(0.1); 
    width: 0vh;
    height: 0vh;
    margin: 0vh;

    font-size: 0em;
    animation-timing-function: ease-out; 
    
}
  70%  { 

    width: 6vh;
    height: 4vh;
    font-size: 0.5vh;
    animation-timing-function: ease-in; 

}

  100% {     

    transform: scale(1);  
    width: 12vh;
    height: 8vh;
    margin: 0.15vh;

    font-size: 2.5vh;   

}

}
