InteractionPanelTest {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #444;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;

	background-image: url("resource/interactive/test/winxp_background.tif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	pointer-events: all;


	.title {
		font-size: 25px;
		font-family: Poppins;
		color: #fff;
		pointer-events: none;
	}

	.windowroot {
		width: 320px;
		height: 320px;
		justify-content: center;
		align-items: center;

		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		pointer-events: none;
		background-image: url("resource/interactive/test/winxpwindow_test.tif");
	}

	.window {
		flex-direction: row;
		gap: 5px;
		pointer-events: none;
	}

	.windowbutton {
		width: 85px;
		height: 30px;
		justify-content: center;
		align-items: center;

		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		font-size: 10px;

		background-image: url("resource/interactive/test/winxpbutton_test.tif");	

		// You really need to disable pointer events on this! So buttons work properly
		.label {
				pointer-events: none;
			}
	}


	.windowbutton:hover {
		background-image: url("resource/interactive/test/winxpbuttonhover_test.tif");
	}

	.windowbutton:active {
		background-image: url("resource/interactive/test/winxpbuttonpress_test.tif");
	}

}
