Chat {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 2vh;
    padding-bottom: 12vh;
    align-items: flex-end;
    font-family: gordin-regular;
    pointer-events: none;
 
    .playername {
        font-weight: 600;
    }

    .message {
        font-weight: 400;
        max-width: 20em;
    }

    .playername,
    .color,
    .message {
        text-shadow: 2px 1px rgb(60, 60, 60);
    }
}

.chat-container {
    width: 30em;

    .message, 
    .input label, 
    .playername {
        text-transform: none;
    }
    
    .colon {
        padding-right: 4px;
    }
}

.chat-messages-box, .chat-container {   
    flex-direction: column;
    
    .chat-entry {
        flex-shrink: 0;
        max-width: 100%;
        padding: 5px;

        .player-id {
            flex-shrink: 0;
        }

        .player-avatar {
            width: 1.5em;
            height: 1.5em;
            margin-right: 0.4em;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 2px;
            border: 0.5px solid rgba(87, 87, 87, 0.600);
        }
    }
    

}

Chat.open {
    pointer-events: all;
    transition: all 0.12s ease;

    .playername,
    .color,
    .message {
        text-shadow: none;
    }
    
        .chat-messages-box {
        transition: all 0.075s ease-out;
        color: rgb(207, 207, 207); 
        background-color: rgba(11, 11, 11, 0.970);       
        border: 5px solid rgba( rgba(101, 101, 101, 1.00), 0.25 );
        padding: 5px;
        height: 20em;        
        overflow-y: scroll; // force mask with scrollbar
        overflow-x: hidden; // prevent sideways scrolling

        .chat-entry {
            flex-shrink: 0;  // entries don’t shrink to fit
            max-width: 100%; // entries never overflow horizontally
            padding: 5px;

            &:nth-child(odd) {
                background-color: rgba(11, 11, 11, 0.400);                   
            }         

            &:nth-child(even) {
                background-color: rgba(11, 11, 11, 0.200);                   
            }

            .player-id {
                flex-shrink: 0;
            }

            .player-avatar {
                width: 1.5em;
                height: 1.5em;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 2px;
                border: 0.5px solid rgba(87, 87, 87, 0.600);
            }
        }
    }

    .chat-input-box {
        transition: all 0.075s ease-out;
        color: rgb(207, 207, 207); 
        background-color: rgba(11, 11, 11, 0.970);       
        border: 5px solid rgba( rgba(101, 101, 101, 1.00), 0.25 );
        display: flex;
    }

    .input {
        width: 88%;
    }
    
    .input-button {
        sound-in: "sounds/kenney/ui/ui.button.press.sound_c";
        padding: 10px;
        font-weight: 600;
        color: rgb(125, 125, 125);
    }
}

.chat-entry.intro {
    animation: fade-in-up 0.15s ease-out forwards;
    animation-iteration-count: 1;
}

.chat-entry.outro {
    animation: fade-out 0.5s forwards;
}

.chat-entry.system-message.outro {
    animation: fade-out 0.25s forwards;
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(10px); /* start slightly lower */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* settle in place */
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
